button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

.btn-flip {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 30px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.btn-flip:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.btn-flip:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.btn-flip:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    color: black;
    display: block;
    transition: 0.5s;
    position: absolute;
    background: #adadaf;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
}

.btn-flip:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: black;
    display: block;
    padding: 0 30px;
    line-height: 30px;
    transition: 0.5s;
    position: static;
    background: #FFE4E4;
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #25bdb1;
    color: #ffffff;
    text-align: center;
}

table th {
    padding: 12px 15px;
}

table td {
    text-align: center;
    padding: 12px 15px;
}

table tbody tr {
    background-color: #E0E0E0;
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #25bdb1;
}


.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E0E0E0;
}

.li {
    float: left;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
}

.li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.li a:hover {
    background-color: #505050;
    color: white;
}

.red {
    background-color: #FFE4E4;
}

.green {
    background-color: #A6F5CB;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.a:hover:not(.active) {
    background-color: #ddd;
}

form {
    display: inline;
}

